
<div ng-show="listVisible">

 
<h3>Broadcasts  <button class="btn" ng-click="reload()">
	<span ng-class="stylereload"></span>
</button>
<button class="btn btn-success" ng-click="addBroadcast()"><span class="glyphicon glyphicon-plus"/></button>
</h3>
 
<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
    <!-- <th class="hidden-xs">Progress</th> -->
    <th>From</th>
	<th>To</th>
	<th class="text-right"><span  class="label label-default">{{broadcasts.length}}</span></th>
  </tr></thead>
  <tbody><tr ng-repeat="broadcast in broadcasts">
   <td>
	  <button class="btn btn-info btn-block" ng-click="editBroadcast(broadcast.id)" >{{ broadcast.name }}</button>
	</td>
    <!--<td class="hidden-xs">
	<uib-progressbar max="max" value="dynamic"  type="danger"><span style="color:white; white-space:nowrap;">{{broadcast.progress}} %</span></uib-progressbar>
	</td>-->
	<td class="hidden-xs"><button class="btn btn-default disabled btn-block btn-sm" >{{ broadcast.datefrom | date:'yyyy-MMM-dd HH:mm' }}</button></td>
	<td class="hidden-xs"><button class="btn btn-default disabled btn-block btn-sm" >{{ broadcast.dateto | date:'yyyy-MMM-dd HH:mm' }}</button></td>
	<td class="visible-xs"><button class="btn btn-default disabled btn-block btn-sm" >{{ broadcast.datefrom | date:'ddMMM' }}</button></td>
	<td class="visible-xs"><button class="btn btn-default disabled btn-block btn-sm" >{{ broadcast.dateto | date:'ddMMM' }}</button></td>
	<td  class="col-md-6 text-right">
	  <button class="btn" ng-click="activateBroadcast(broadcast.id, broadcast.broadcasted , broadcast)">
        <span ng-class="checkStatus(broadcast)"></span>
      </button>
	  <button class="btn hidden-xs" ng-click="removeBroadcast(broadcast.id,broadcast)">
        <span ng-class="checkRemoveStatus(broadcast)" ></span>
      </button>
      <button class="btn hidden-xs" ng-click="editBroadcast(broadcast.id)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
	  <button class="btn disabled hidden-xs" >
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </td>
  </tr></tbody>
</table> 

</div>