<div ng-show="isVisible">
<hr>

<h3>Broadcast: {{name}}</h3>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li  ng-class="tab1 ? 'active' : ''" ng-click="tabGI()"><a>General information</a></li>
    <li  ng-class="tab2 ? 'active' : ''"  ng-click="tabDevices()"><a>Devices <span ng-class="styleTabDevices"></span></a></li>
  </ul>
  
<div>
<div>&nbsp;</div>


<div ng-show="tab2" >

<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
	<th class="hidden-xs">Status</th>
    <th>Media progress</th>
  </tr></thead>
  <tbody><tr ng-repeat="device in devices">
    <td>
	  <button class="btn disabled" >{{ device.name }}-{{ device.description }}</button>
	</td>
	<td class="hidden-xs">
	  <div class="btn-group" uib-dropdown>
		<button class="btn btn-primary" uib-dropdown-toggle>
		 {{ dateTest | date:'yyyy-MMM-dd HH:mm' }} - playlist downloaded <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
		  <li role="menuitem"><a href="#">{{ dateTest | date:'yyyy-MMM-dd HH:mm' }} - playlist 21 downloaded ------------ </a></li>
		  <li role="menuitem"><a href="#">{{ dateTest | date:'yyyy-MMM-dd HH:mm' }} - playlist 21 downloaded ------------</a></li>
		
		</ul>
	  </div>
	</td>
	<td>
	  <button class="btn btn-info btn-block" >{{ device.id_device }}</button>
	</td>
   </tbody>
</table>
</div>


<div ng-show="tab1">
<form class="form-horizontal">
<div class="form-group">
  <label class="col-sm-2 control-label">Name :</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="$parent.name"  placeholder="-">
  </div>
  <label class="col-sm-2 control-label">Created:</label>
  <div class="col-sm-4">
    <button class="btn btn-default disabled btn-block" am-time-ago="$parent.created">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" ng-click="showDateFrom()">From :</label>
  <div class="col-sm-4">
    <button class="btn btn-default btn-block" ng-click="showDateFrom()">{{ $parent.datefrom | date:'yyyy-MM-dd HH:mm' }}</button>
	<datetimepicker  ng-show="fromvisible" data-ng-model="$parent.datefrom" data-on-set-time="showDateFrom()" ></datetimepicker>
   </div>
  <label class="col-sm-2 control-label" ng-click="showDateTo()">To :</label>
  <div class="col-sm-4">
    <button class="btn btn-default btn-block" ng-click="showDateTo()">{{ $parent.dateto | date:'yyyy-MM-dd HH:mm' }}</button>
	<datetimepicker  ng-show="tovisible" data-ng-model="$parent.dateto" data-on-set-time="showDateTo()"></datetimepicker>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" ng-click="showDailyFrom()">Daily from :</label>
  <div class="col-sm-4">
    <button class="btn btn-default btn-block" ng-click="showDailyFrom()">{{ $parent.dailyfrom | date:'HH:mm' }}</button>
	<datetimepicker  ng-show="dailyfromvisible" data-ng-model="$parent.dailyfrom" data-datetimepicker-config="{ startView: 'hour' }" data-on-set-time="showDailyFrom()" ></datetimepicker>
   </div>
  <label class="col-sm-2 control-label" ng-click="showDailyTo()">Daily To :</label>
  <div class="col-sm-4">
    <button class="btn btn-default btn-block" ng-click="showDailyTo()">{{ $parent.dailyto | date:'HH:mm' }}</button>
	<datetimepicker  ng-show="dailytovisible" data-ng-model="$parent.dailyto" data-datetimepicker-config="{ startView: 'hour' }" data-on-set-time="showDailyTo()"></datetimepicker>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Device Tags : </label>
  <div class="col-sm-10">
	 &nbsp;<button ng-show="isTansferVisible" class="btn disabled glyphicon glyphicon-transfer"/>&nbsp;<button ng-click="showTag()" ng-hide="isTansferVisible" class="btn btn-default" >Add tag(s)</button>&nbsp;<label ng-repeat="tag in tags | filter:{selected : true}" ><button class="btn btn-info" ng-click="showTag()">{{ tag.name }}</button>&nbsp;</label>
  </div>
</div>
<div class="form-group" ng-show="tagVisible">
<div class="panel panel-default  col-sm-offset-2">
  <div class="panel-heading">Profiling Tags {{tagerror}}</div>
  <div class="panel-body">
<label ng-repeat="tag in tags">
  &nbsp;<button class="btn"
    ng-class="tag.selected ? 'btn-warning' : 'btn-default'"
    ng-checked="{{tag.selected}}"
    ng-click="toggleSelection(tag)" >{{ tag.name }}</button>
 </label>
</div>
</div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" >Medias : </label>
  <div class="col-sm-10" >
	 &nbsp;<button ng-show="isTansferVisibleMedia" class="btn disabled glyphicon glyphicon-transfer"/>&nbsp;<button ng-click="showMedia()" ng-hide="isTansferVisibleMedia" class="btn btn-default">Add media(s)</button>&nbsp;<label ng-repeat="media in medias | filter:{selected : true}" >&nbsp;<button class="btn btn-info" ng-click="showMedia()">{{ media.name }}</button>&nbsp;</label>
  </div>
</div>
<div class="form-group" ng-show="mediaVisible">
<div class="panel panel-default  col-sm-offset-2">
  <div class="panel-heading">Medias available {{mediaerror}}</div>
  <div class="panel-body"> 
<label ng-repeat="media in medias">
  &nbsp;<button class="btn"
    ng-class="media.selected ? 'btn-warning' : 'btn-default'"
    ng-checked="{{media.selected}}"
    ng-click="toggleSelection(media)" >{{ media.name }}</button>
</label>
</div>
</div>
</div>


<div class="form-group">
  <label class="col-sm-2 control-label">Owner :</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="$parent.owner" placeholder="-">
  </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-success" ng-disabled="error || incomplete" ng-click="save()">
		  <span class="{{styleSave}}"></span> Save Changes
		</button>
		<button class="btn btn-default"  ng-click="cancel()">
		  Cancel
		</button> 
	</div>
</div>
</form>
</div>

<br/><hr/>
</div>
