<div ng-show="listVisible">

<h3>Devices  <button class="btn" ng-click="reload()">
	<span ng-class="stylereload"></span>
</button></h3>



<table class="table table-striped">
  <thead>
	<tr>
		<th>Status</th>
		<th>Name</th>
		<th>Created</th>
		<th class="text-right"><span  class="label label-default">{{devices.length}}</span></th>
	</tr>
  </thead>
  <tbody><tr ng-repeat="device in devices">
    <td  class="col-md-2">
		<button class="btn" ng-class="detectClass(device.lastseen)" ng-click="editDevice(device.id)">
			{{detectLabel(device.lastseen)}}
		</button>
	</td>
    <td  class="col-md-2 hidden-xs">
		<button class="btn disabled" >
			{{ device.name }}
		</button>
    </td>
	    <td  class="col-md-2 visible-xs">
		<button class="btn disabled" >
			{{ device.name | limitTo : 4}}
		</button>
    </td>
	<td class="col-md-2"><button class="btn btn-default btn-block disabled btn-sm" am-time-ago="device.created"></button></td>
	<td  class="col-md-6 text-right">
      <button class="btn" ng-click="editDevice(device.id)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
	  <button class="btn disabled hidden-xs" >
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </td>
  </tr></tbody>
</table> 
</div>
