<div ng-show="listVisible">

<h3>Medias  <button class="btn" ng-click="reload()">
	<span ng-class="stylereload"></span>
</button>
<button class="btn btn-success" ng-click="addMedia()"><span class="glyphicon glyphicon-plus"/></button>
</h3>

<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
    <th>Type</th>
	<th>Created</th>
	<th class="text-right"><span  class="label label-default">{{medias.length}}</span></th>
  </tr></thead>
  <tbody><tr ng-repeat="media in medias">
    <td>
			<button class="btn btn-info btn-block" ng-click="editMedia(media.id)" >{{ media.name }}</button>
	</td>
    <td>
			<button class="btn disabled" >{{ media.type }}</button>
    </td>
	<td><button class="btn disabled" >{{ media.created }}</button></td>
	<td  class="col-md-6 text-right">
	 <button class="btn" ng-click="removeMedia(media.id)">
        <span ng-class="styleremove" ></span>
      </button>
      <button class="btn" ng-click="editMedia(media.id)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
	  <button class="btn disabled" >
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </td>
  </tr></tbody>
</table> 